/*body {
	border: 1px solid red	;
}

aside ul li:last-child {
	font-weight: bold;
	color: red;
}

img:not([alt]){
	border: 5px dotted orange;
}

p::first-line {
	
	font-size: 150%;
	color: red;
	font-style: italic;
}

ul::before {
	content: "This is a list";
}

p:last-child::first-letter {
	color:purple;
	font-size: 5em;
	float: left;
}*/

li:nth-last-child(3n+4){
	color:red;
}

/* an + b */
:nth-of-type(3n)
{
	text-transform: uppercase;
	color:blue;
}