/* external stylesheet for day 3 lecture */ 
/*#myDiv {
	font-family: Arial, sans-serif;
	font-size: 5em;
	color: green;
	padding: 1rem;
	border: 5px solid purple;
	text-transform: uppercase;
	background-color: #ffc;
}

p {
	background-color: aliceblue;
	border: inherit;
}*/

#myP {
	font-weight: bold;
	color: red ;
}

.myClass {
	font-style:italic;
	color:blue !important;
}

/*p {
	color:green !important;
	font-size: 5em;
}
*/
#myDiv {
	color:orange;
}

#myDiv.myClass .myClass{
	color: red;
}

#myDiv.myClass #myP.myClass {
	color:purple;
}

.myClass .myClass {
	color:blue;
}

.myClass p.myClass {
	color:brown;
}

.gridcell[id="danger"]
{
	background-color: red;
}

.warning strong:not(.dead){
	color: red;
}

body#wrapper > a:first-child:hover {
	color: green;
}

.bb8.r2d2 #c3po::after {
	content:"This is C3PO";
}

.captain.picard * #riker{
	color:brown;
}

blockquote[title]:first-line {
	color: magenta;
}

article p:nth-of-type(even){
	color:brown;
}

.verylong#list {
	color: purple;
	background-color: yellow;
}

.verylong #list {
	color: purple;
	background-color: yellow;
}

ul > li + li > a * {
	color:cyan;
	background-color: blue;
}